[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ahenk
GenericName=Ahenk İstemci Uygulaması
Comment=Ahenk İstemci Uygulaması
Exec= /usr/sbin/ahenk-register-pkexec
Icon= ahenk-register.png
Categories=Development;Application
Terminal=false
