[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ahenk
GenericName=Ahenk İstemci Uygulaması
Comment=Ahenk İstemci Uygulaması
Exec= ahenk-register-pkexec
Icon= ahenk.png
Categories=Development;Application
Terminal=false
